<template name="NovoCadastro">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path=returnPath _id=this._id}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{getName}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button id="submit-new" class="button button-clear"><b>Salvar</b></button>
  {{/contentFor}}

  {{# autoForm collection=getCollection id="newForm" type="insert"}}
    {{#ionView}}
      {{#ionContent}}
        {{> afQuickFields omitFields="exported,createdAt,ownerId,userId"}}
        <button style="display: none;" type="submit"></button>
      {{/ionContent}}
    {{/ionView}}
  {{/autoForm}}
</template>
