<template name="Producao">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="fazenda" _id=this._id}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Produção</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <a class="item log-item item-cadastro item-icon-right" id="7">
          <h2>Pesagem de Leite</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-cadastro item-icon-right" id="8">
          <h2>Pesagem de Gado</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-cadastro item-icon-right" id="9">
          <h2>Secagem</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
