<template name="NovaFazenda">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Fazendas" id="fazendas-form" type="insert"}}
      <div class="bar bar-header bar-light">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancelar</button>
        <h2 class="title">Nova Fazenda</h2>
        <button type="submit" class="button button-positive button-clear">Salvar</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickFields omitFields="createdAt,serverId,userId"}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>

<template name="EditarFazenda">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Fazendas" id="fazendas-edit" type="update" doc=getDoc}}
      <div class="bar bar-header bar-light">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancelar</button>
        <h2 class="title">Editar Fazenda</h2>
        <button type="submit" class="button button-positive button-clear">Salvar</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickFields omitFields="createdAt,serverId,userId"}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
