<template name="EditarCadastro">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="viewHistorico" _id=this._id index=this.index}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{getName}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button id="submit-edit" class="button button-clear"><b>Salvar</b></button>
  {{/contentFor}}

  {{# autoForm collection=getCollection doc=getDoc id="editForm" type="update"}}
    {{#ionView}}
      {{#ionContent}}
        {{> afQuickFields omitFields="exported,createdAt,ownerId,userId"}}
        <button style="opacity: 0;" type="submit">
          Save
        </button>
      {{/ionContent}}
    {{/ionView}}
  {{/autoForm}}
</template>
