<template name="HistFilters">
  {{#ionModal customTemplate=true}}
    {{#autoForm schema=histFiltersSchema id="histFilters" type="normal"}}
      <div class="bar bar-header bar-light">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancelar</button>
        <h2 class="title">Editar Filtros</h2>
        <button type="submit" class="button button-positive button-clear">Salvar</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickFields omitFields=""}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
