<template name="ViewHistorico">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path=returnPath _id=this._id}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Histórico {{getName}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" id="hist-action">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each logs}}
          <a class="item log-item" id="{{_id}}">
            <h2>{{number}}</h2>
            <p>{{prettifyDate date}}</p>
            <span class="badge badge-{{getColor exported}}">{{getExported exported}}</span>
          </a>
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>


<template name="Historico">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="fazenda" _id=this._id}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Histórico</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#ionItem path="histsanidade" buttonRight=true class="item-icon-right"}}
          Sanidade
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        {{/ionItem}}

        {{#ionItem path="histreproducao" buttonRight=true class="item-icon-right"}}
          Reprodução
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        {{/ionItem}}

        {{#ionItem path="histproducao" buttonRight=true class="item-icon-right"}}
          Produção
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        {{/ionItem}}

        <a class="item log-item item-hist item-icon-right" id="10">
          <h2>Cadastros Gerais</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <!-- {{#ionItem path="histgeral" buttonRight=true class="item-icon-right"}}
          Geral
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        {{/ionItem}} -->
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="Histsanidade">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="historico" _id=this._id}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Histórico Sanidade</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <a class="item log-item item-hist item-icon-right" id="0">
          <h2>Doença</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-hist item-icon-right" id="1">
          <h2>Mastite</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-hist item-icon-right" id="2">
          <h2>Aplicação</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="Histreproducao">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="historico" _id=this._id}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Histórico Reprodução</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <a class="item log-item item-hist item-icon-right" id="3">
          <h2>Diagnóstico</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-hist item-icon-right" id="4">
          <h2>Exame</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-hist item-icon-right" id="5">
          <h2>Parto</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-hist item-icon-right" id="6">
          <h2>Inseminação</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="Histproducao">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="historico" _id=this._id}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Histórico Produção</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <a class="item log-item item-hist item-icon-right" id="7">
          <h2>Pesagem de Leite</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-hist item-icon-right" id="8">
          <h2>Pesagem de Gado</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-hist item-icon-right" id="9">
          <h2>Secagem</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>