/*****************************************************************************/
/* Historico: Style */
/*****************************************************************************/
.logType {
  border-left: 1px solid #ddd;
  text-transform: capitalize;
  display: block !important;
  float: left;
}

.log-item {
  cursor: pointer;
}

.log-item h2 span {
  color: #888;
}

.item-header {
  color: #444;
  /*border-color: #b2b2b2 !important;*/
  background-color: #f8f8f8 !important;
  text-align: center;
}