<template name="Preferences">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Usuarios" id="preferences-form" type="update" doc=getDoc}}
      <div class="bar bar-header bar-light">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancelar</button>
        <h2 class="title">Editar Preferências</h2>
        <button type="submit" class="button button-positive button-clear">Salvar</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickFields omitFields="logged,createdAt,username,password"}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>