<template name="Reproducao">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="fazenda" _id=this._id}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Reprodução</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <a class="item log-item item-cadastro item-icon-right" id="3">
          <h2>Diagnóstico</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-cadastro item-icon-right" id="4">
          <h2>Exame</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-cadastro item-icon-right" id="5">
          <h2>Parto</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-cadastro item-icon-right" id="6">
          <h2>Inseminação</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
