<template name="Sanidade">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="fazenda" _id=this._id}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Sanidade</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <a class="item log-item item-cadastro item-icon-right" id="0">
          <h2>Doença</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-cadastro item-icon-right" id="1">
          <h2>Mastite</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item log-item item-cadastro item-icon-right" id="2">
          <h2>Aplicação</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
