$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';

.contact-detail {
  background: $stable;
}

.pull-right {
  float: right;
}

.scroll-content{
  background-image: url("./grass.jpg");
  background-size: cover;
  background-position: center bottom;
}

.item {
  background-color: rgba(255, 255, 255, 0.8);
}

.item.item-divider {
  background-color: rgba(225, 225, 225, 0.8);
}

.item select,
.card,
.ion-slide {
  background-color: transparent;
}