<template name="Login">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Login</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if isLogin}}
        {{> LoginInput}}
      {{else}}
        {{> Register}}
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>


<template name="Register">
  {{# autoForm id="newUser" type="normal" schema="registerSchema"}}
    {{> afQuickField name="username"}}
    {{> afQuickField name="password" type="password"}}
    {{> afQuickField name="confirmation" type="password"}}

    <div class="item">
      <div class="pull-right">
        <a id="toggleLogin" class="subdued">Login</a>
        <button class="button button-balanced button-small" type="submit">
          &nbsp;Criar conta&nbsp;
        </button>
      </div>
    </div>
  {{/autoForm}}
</template>

<template name="LoginInput">
  {{# autoForm collection="Usuarios" id="loginUser" type="normal"}}
    {{> afQuickField name="username"}}
    {{> afQuickField name="password" type="password"}}
    
    <div class="item">
      <div class="pull-right">
        <a id="toggleLogin" class="subdued">Criar conta</a>
        <button class="button button-balanced button-small" type="submit">
          &nbsp;&nbsp;Login&nbsp;&nbsp;
        </button>
      </div>
    </div>
  {{/autoForm}}
</template>