<template name="Fazenda">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="home"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{NomeFazenda}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" id="fazenda-action">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#ionItem path="sanidade" buttonRight=true class="item-icon-right"}}
          Sanidade
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        {{/ionItem}}

        {{#ionItem path="reproducao" buttonRight=true class="item-icon-right"}}
          Reprodução
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        {{/ionItem}}

        {{#ionItem path="producao" buttonRight=true class="item-icon-right"}}
          Produção
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        {{/ionItem}}

        <a class="item log-item item-cadastro item-icon-right" id="10">
          <h2>Cadastro Geral</h2>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        {{#ionItem path="historico" buttonRight=true class="item-icon-right"}}
          Histórico
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        {{/ionItem}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
